// Fonts

@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900&display=swap);

$mainFont: 'Roboto', sans-serif;
$dopFont: 'Oswald', sans-serif;

// Colors

$mainColorOne: #000;
$mainColorTwo: #3f3f3f;
$mainColorThree: #bdbdbd;
$divider: #c4c4c4;
$colorOne: #292a2d;
$colorTwo: #f3ece2;
$colorThree: #24426a;
$colorFour: #18574a;
$colorFive: #666689;
$colorSix: #c2beb6;
$colorSeven: #aaaba7;
$colorEight: #971e34;
$colorNine: #cba13e;
$colorTen: #73513c;
$colorEleven: #dab1b1;
$colorTwelve: #2b9fa7;




